# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: "Publish to PyPI"

on:
  push:
    tags:
      - "*"

permissions:
  content: "read"

jobs:
  publish:
    name: "Publish to PyPI"
    runs-on: "ubuntu-latest"
    environment:
      name: "publish"
    steps:
    - name: "Checkout repository"
      uses: "actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b"

    - name: "Setup Python"
      uses: "actions/setup-python@b55428b1882923874294fa556849718a1d7f2ca5"
      with:
        python-version: "3.x"

    - name: "Build dists"
      run: |
        python -m pip install build
        python -m build

    - name: "Publish to PyPI"
      uses: "pypa/gh-action-pypi-publish@37f50c210e3d2f9450da2cd423303d6a14a6e29f"
